/*-----colores-----*/
$colorNaranjaClaro: #fdefd1; 
$colorNaranjaOscuro: #f1cc9b;

// Oscuro: #fcebc7 ; 
// claro #f8f4df

$colorLetraOscuro: #662483;
$colorHoverLetras: #f1a643;
$colorTitulos: rgb(94, 42, 105);
$colorTextoGen: rgb(73, 33, 82);

$colorBotones: rgba(95, 42, 105, 0.144);
$colorBotonesHover: rgba(95, 42, 105, 0.479);

/*-----tipografías-----*/
$letraTextoGen:'Montserrat', sans-serif;
$letraTitulos: 'DM Serif Display', serif;

/*-----tamaños-----*/
$espacio: 0.35rem;
$espacioTop: 1rem;
$radioBordesCards: 0.3rem;
$sizeTextoGen: 0.81rem;
$sizeTextoGenMd: 1.1rem;
$sizeTextoGenLg: 1.2rem;
$sizeTextoGenCarrito:0.9rem;